# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\common\GitRepositories\conversion-logix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
